// rework in BEM:
//
//
// https://github.com/airbnb/css
// section
.anim {
  @mixin text-mix {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 9.5rem;
    color: white;
    font-weight: 900;
    margin: 0;
    line-height: 1.3em; // If too short, sticking out letters might get cut off
    letter-spacing: -12px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @mixin text-gradient-anim($gradient-dir, $color1, $color2, $target-anim) {
    background-image: linear-gradient(
      $gradient-dir,
      var($color1),
      var($color2)
    );
    animation: $target-anim 10s infinite;
  }

  --gradient-color-1: #9b005d;
  --gradient-color-2: #ff00ff;
  --gradient-color-3: #3b00cf;
  --gradient-color-4: #62d3ff;
  --gradient-color-5: #f55a00;
  --gradient-color-6: #f1ff70;
  //background-color: darkturquoise;

  &__step1Container,
  &__step2Container,
  &__step3Container {
    position: relative;
    margin-top: -45px; //To adjust for the line-height
    //text-align: center;
  }

  &__textContainer {
    text-align: center;
  }

  &__text {
    @include text-mix();
  }

  &__text--overlay {
    @include text-mix();
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    //padding-right: 30px; //Adding some space on the right otherwise gradient may be cut off depending on the font.
    height: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  @media screen and (max-width: 1200px) {
    &__text,
    &__text--overlay {
      letter-spacing: -6px;
      font-size: 90px; /* The width is 100%, when the viewport is 800px or smaller */
      line-height: 1.4em; // If too short, sticking out letters might get cut off

    }
  }

  @media screen and (max-width: 720px) {
    &__text,
    &__text--overlay {
      letter-spacing: -6px;
      font-size: 12vw; /* The width is 100%, when the viewport is 800px or smaller */
      line-height: 1.7em; // If too short, sticking out letters might get cut off

      letter-spacing: -.3vh;
    }
  }

  // Animation definitions
  //
  //
  &__step1Container &__text {
    animation: anim-gradient-base-1 10s 0.1s infinite;
  }

  &__step2Container &__text {
    animation: anim-gradient-base-2 10s 0.1s infinite;
  }

  &__step3Container &__text {
    animation: anim-gradient-base-3 10s 0.1s infinite;
  }

  &__step1Container &__text--overlay {
    @include text-gradient-anim(
      90deg,
      --gradient-color-1,
      --gradient-color-2,
      anim-gradient-overlay-1
    );
  }
  &__step2Container &__text--overlay {
    @include text-gradient-anim(
      90deg,
      --gradient-color-3,
      --gradient-color-4,
      anim-gradient-overlay-2
    );
  }
  &__step3Container &__text--overlay {
    @include text-gradient-anim(
      90deg,
      --gradient-color-5,
      --gradient-color-6,
      anim-gradient-overlay-3
    );
  }

  @keyframes anim-gradient-base-1 {
    0%,
    16.667%,
    100% {
      opacity: 0;
    }

    33.333%,
    83.333% {
      opacity: 1;
    }
  }
  @keyframes anim-gradient-base-2 {
    0%,
    16.667%,
    66.667%,
    100% {
      opacity: 1;
    }

    33.333%,
    50% {
      opacity: 0;
    }
  }
  @keyframes anim-gradient-base-3 {
    0%,
    50%,
    100% {
      opacity: 1;
    }

    66.667%,
    83.333% {
      opacity: 0;
    }
  }
  // overlay is just reverse of base
  @keyframes anim-gradient-overlay-1 {
    0%,
    16.667%,
    100% {
      opacity: 1;
    }

    33.333%,
    83.333% {
      opacity: 0;
    }
  }
  // overlay is just reverse of base
  @keyframes anim-gradient-overlay-2 {
    0%,
    16.667%,
    66.667%,
    100% {
      opacity: 0;
    }

    33.333%,
    50% {
      opacity: 1;
    }
  }
  // overlay is just reverse of base
  @keyframes anim-gradient-overlay-3 {
    0%,
    50%,
    100% {
      opacity: 0;
    }

    66.667%,
    83.333% {
      opacity: 1;
    }
  }
}

//
//
// EOF Animation definitions
