@import "./colors.module.scss";

@mixin navbar {
  z-index: 1;
  height: 50px;
  width: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 500;
  color: $nav-text-color;
  transition: all .4s linear;
  // spacing between group i.e. Solutions, About, Pricing <-> Support, Docs
  div {
    margin: 90px;
    cursor: pointer;
  }
  // spacing between element i.e. Support <-> Docs
  a {
    transition: all .15s ease-in;
    margin: 10px;
    text-decoration: none;
  }
  a:hover {
    transition: all .2s ease-in;
    // font-size: 18px;
    color: lighten($color: $nav-text-color, $amount: 45%);
  }
}

.navWhenTop {
  @include navbar();
  position: absolute;
  background: $bg-color;
}

.navWhenScrolled {
  @include navbar();
  position: fixed;
  background: $bg-color;
  //border-bottom: solid 1px hsla(0, 0%, 100%, 0.102);
  background-color: rgba(27, 40, 56, .1);
  backdrop-filter: blur(4px);
  a {
    opacity: 0;
    transition: all .2s ease-in-out;
  }
}
