@import "./colors.module.scss";

// todo: hamburger when below 720px;

@mixin navbar {
  z-index: 1;
  height: 50px;
  width: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 500;
  color: $nav-text-color;
  transition: all 0.4s linear;

  // spacing between group i.e. Solutions, About, Pricing <-> Support, Docs
  div {
    margin: 90px;
    cursor: pointer;
  }

  // spacing between element i.e. Support <-> Docs
  a {
    margin: 10px;
    transition: all 0.15s ease-in;
    text-decoration: none;
    flex-wrap: wrap;
  }
  a:hover {
    transition: all 0.2s ease-in;
    color: lighten($color: $nav-text-color, $amount: 45%);
  }
}

.navbarTop--default {
  @include navbar();
  position: absolute;
  background: $bg-color;
}

.navbarScrolled--frosty {
  @include navbar();
  position: fixed;
  background-color: rgba(27, 40, 56, 0.1);
  backdrop-filter: blur(4px);
  a {
    opacity: 0;
    transition: all 0.2s ease-out;
  }
}
